<h2><%= @recipe.name %></h2>
<ul>
<% @recipe.measurements.each do |measurement| %>
  <li>
    <% recipe_ingredient = @ingredients.find(measurement.id) %>
    <% if recipe_ingredient.diet_group == 'vegetarian' %>
      <%= 'ðŸ³' %>
    <% elsif recipe_ingredient.diet_group == 'vegan' %>
      <%= 'ðŸŒ±' %>
    <% end %>
    <%= "#{measurement.quantity} #{measurement.sku} of #{recipe_ingredient.name}" %>
  </li>
<% end %>
</ul>
<p><strong>Instructions: </strong><%= @recipe.instructions %></p>
<p><strong>Average Shelf Life: </strong><%= @recipe.avg_shelf_life %></p>

<button>
  <%= link_to "All recipes", recipes_path %>
</button>
<button>
  <%= link_to "Edit recipe", edit_recipe_path %>
</button>
<button>
  <%= link_to "Delete", recipe_path(@recipe),
  method: 'delete', data: { confirm: 'Are you sure?' } %>
</button>
