<h2><%= @recipe.name %></h2>
<p><%= @recipe.instructions %></p>
<p><%= @recipe.avg_shelf_life %></p>

<button>
  <%= link_to "All recipes", recipes_path %>
</button>
<button>
  <%= link_to "Edit recipe", edit_recipe_path %>
</button>
<button>
  <%= link_to "Delete", recipe_path(@recipe),
    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
  %>
</button>
